/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lora', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 15px;
}
nav a {
  padding-top: 5px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
nav a .selected {
  font-weight: 800;
}
nav h1 {
  font-size: 30px;
  width: 50%;
}
.container {
  max-width: 800px;
  border: 1px solid black;
}
.container .mainimg {
  display: flex;
  flex-flow: row wrap;
}
.container .mainimg .wholesome {
  width: 500px;
  height: 300px;
  padding: 25px;
}
.container .mainimg .mainText {
  width: 250px;
  padding-top: 70px;
  text-align: center;
}
@media (max-width:500px) {
  .container .mainimg .mainText {
    padding: 10px;
    width: 100%;
  }
  .container .mainimg .wholesome {
    padding-bottom: 0px;
  }
}
@media (max-width:800px) {
  .container .mainimg .wholesome {
    width: 70%;
  }
  .container .mainimg .mainText {
    width: 20%;
  }
}
.container .tab-navigator .tab-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.container .tab-navigator .tab-links .link {
  padding: 20px 40px;
  background: lightgray;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 8px 0px 8px 0px;
  margin: 10px;
}
.container .tab-navigator .tab-content {
  width: 100%;
  margin-top: 20px;
  background-color: coral;
}
.container .tab-navigator .tab-content .content {
  padding: 20px;
  border: 1px solid black;
  display: none;
}
.container .tab-navigator .tab-content .change {
  display: block;
}
.container .divinder {
  border-top: 2px dotted black;
}
.container .mainFeat {
  display: flex;
  flex-flow: row wrap;
}
.container .mainFeat .bulletPoints {
  padding: 40px 20px 40px 40px;
  align-items: center;
  width: 50%;
  font-size: 20px;
  align-content: center;
}
.container .mainFeat .bulletPoints ol {
  list-style: disc;
  line-height: 200%;
}
@media (max-width:500px) {
  .container .mainFeat .bulletPoints {
    width: 100%;
  }
  .container .mainFeat .bulletPoints h2 {
    padding: 0px 10px 10px 10px;
    text-align: center;
  }
}
.container .mainFeat .appScreens {
  width: 50%;
  padding: 25px;
}
@media (max-width:500px) {
  .container .mainFeat .appScreens {
    display: none;
  }
}
.container .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px dashed black;
}
.container .card img {
  width: 200px;
  height: 200px;
  padding-top: 20px;
  box-shadow: 2.5px 5px;
}
.container .card p {
  padding-top: 12px;
  box-shadow: 2.5px 4px;
}
.container .card .text {
  width: 70%;
  padding: 20px;
}
.container .card .img {
  width: 25%;
}
.container .card .github {
  background-color: #333;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: 1px solid #333;
}
.container .card .twitter {
  background-color: #1da1f2;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: 1px solid #1da1f2;
}
.container .card .email {
  background-color: #6441a5;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  border: 1px solid #6441a5;
}
.container .card button {
  width: 32%;
}
@media (max-width:500px) {
  .container .card {
    flex-flow: column;
    align-items: center;
  }
  .container .card .img {
    width: 50%;
  }
}
.container footer {
  display: flex;
  justify-content: space-evenly;
}
.container footer a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  padding: 20px;
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lora Regular'), local('Lora-Regular'), url(https://fonts.gstatic.com/s/lora/v13/0QIvMX1D_JOuMwr7Jg.ttf) format('truetype');
}
