.outter{
    background-color:@pri;
    height:100%;
}
.container{
    max-width: 800px;
    border: 1px solid black;
    background-color: @tri;
    .mainimg{
        display: flex;
        flex-flow:row wrap;
        background-color:@tri;
        .wholesome{
            width:500px;
            height:300px;           
            padding:25px;
        }
        .mainText{
            width:250px;
            padding-top:70px;
            text-align: center; 
        }
        @media @tablet{
            .wholesome{
                width:70%;
            }
            .mainText{
                width:20%;
            }
        }
        
    }
    @media @phone{
        .mainImg{
            flex-flow:column;
            .wholesome{
                width:100%;
                padding:10px;
            }
            .mainText{
                align-items: center;
                width:100%;
                padding:10px;
            }
        }
    }
    .tab-navigator {
        background-color:@tri;
    .tab-links {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size:20px;


      .link {
        padding: 20px 40px;
        background: lightgray;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 8px 0px 8px 0px;
        margin:10px;
      }
    }
    @media @phone{
        .tab-links{
            flex-flow:column;
        }
    }
    @media @tablet{
        .tab-links{
            flex-flow:column;

        }
    }
    .tab-content {
      width: 100%;
      margin-top: 20px;
      background-color:@tri;

      .content {
        padding: 20px;
        border: 1px solid black;
        display: none;
      }
      .change {
        display: block;
      }
    }
  }// tab navigator
    
    .divinder{
        border-top:2px dotted black;
    }
    .mainFeat{
        display:flex;
        flex-flow:row wrap;
        background-color:@tri;
        .bulletPoints{
            padding:40px 20px 40px 40px;
            align-items: center;
            width:50%;
            font-size:20px;
            align-content: center;
            ol{
                list-style: disc;
                line-height: 200%;
            }
            
        }
        @media @phone{
            .bulletPoints{
                width:100%;
                //padding:10px 10px 10px 40px;
                h2{
                    padding:0px 10px 10px 10px;
                    text-align:center;
                }
            }
        }
        .appScreens{
            width:50%;
            padding:25px;
            
        }
        @media @phone{
            .appScreens{
                display:none;
            }
        }
    }
    .card{
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
        border:1px dashed black;
        background-color:@tri;
        img{
            width:200px;
            height:200px;
            padding-top:20px;
            box-shadow:2.5px 5px;
        }
        p{
            padding-top:12px;
            box-shadow:2.5px 4px;
        }
        .text{
            width:70%;
            padding:20px;
        }
        .img{
            width:25%;
        }
        .github{
                background-color:#333;
                color:white;
                font-size:15px;
                padding: 5px 5px;
                border:1px solid #333;
        }
        .twitter{
                background-color:#1da1f2;
                color:white;
                font-size:15px;
                padding: 5px 5px;
                border:1px solid #1da1f2;
        }
        .email{
                background-color:#6441a5;
                color:white;
                font-size:15px;
                padding: 5px 5px;
                border:1px solid #6441a5;
        }
        button{
            width:32%;
             transition-duration: 0.4s;
             cursor: pointer;
        }
        .github:hover{
            border-radius:9px 0px 9px 0px;
        }
        .twitter:hover{
            border-radius:9px 0px 9px 0px;
        }
        .email:hover{
            border-radius:9px 0px 9px 0px;
        }
        


    }
    @media @phone{
        .card{
            flex-flow:column;
            align-items: center;
            .img{
                width:50%;
            }
        }
    }
    
}
