nav{
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
    padding-bottom:15px;
    background-color:@sec;
    a{ 
        padding-top:5px;
        font-size:20px;
        text-decoration: none;
        color:black;
        .selected{
            font-weight:800;
        }
    }
    h1{
        font-size:30px;
        width:50%;
    }
}